/* header */
header {
    display:flex;
    justify-content: center;
    padding-bottom: 50px;;
}
header h1 {
    padding-top:30px;
}

header img {
    width: 150px;
}

/* main */
main img {
    width: 50px;
}
main{
    text-align: center;
    
}
main input{
    font-size:20px;
    padding-right:10px;
}
button{
    width:70px;
}

#search{
    display:flex;
    padding:50px;
    justify-content: center;
    
}

#pokemon-container img{
    width:200px;
}


@media screen and (min-width: 800px) {
  
}